[defaults]

# no crap msg `Are you sure you want to continue connecting (yes/no)? `
host_key_checking = False
deprecation_warnings=False 

forks = 30
#serial = 10
#strategy = serial
inventory = ./hosts
#log_path=./log.txt

interpreter_python = /usr/bin/python3



#gather_subset = all_ipv4_addresses
gather_subset   =   all_ipv4_addresses,all_ipv6_addresses,architecture,date_time,default_ipv4,default_ipv6,distribution,distribution_version,lsb,distribution_release,machine_id,machine,network,os_family,platform,system,processor,processor_cores,processor_count

gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/.ansible/facts_cache

# two hours timeout
fact_caching_timeout = 7200

nocows = 1

#remote_port = 22
remote_user = root

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

